*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common styling */
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.4s;
}

.container{
    text-align: center;
    width: 420px;
    padding: 30px;
    border-radius: 16px;
    transition: 0.4s;
}

/* Light theme */

body.light{
    background: #f0f9ff;
}

body.light .container{
    background: white;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
}

/* Dark theme */

body.dark{
    background: #0f172a;
}

body.dark .container{
    background: #1e293b;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.05);
    color: #e2e8f0;
}

.toggle-btn{
    margin-top: 20px;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #4f46e5;
    color:white;
    transition: 0.3s;
}

.toggle-btn:hover{
    background: #4239eb;
}

.progress-container{
    width: 100%;
    height: 18px;
    background: #d1d5db;
    border-radius: 12px;
    margin: 25px 0;
    overflow: hidden;
}

.progress-bar{
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #10b981, #059669);
    border-radius: 12px;
    transition: width 0.4s;
}

.progress-txt{
    font-weight: 500;
    transition: 0.3s;
}

.mood-btn{
    width: 80px;
    height: 80px;
    font-size: 42px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    transition: 0.25s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark .mood-btn{
    background: #334155;
    box-shadow: 0 10px 25px rgba(255,255,255,0.08);
}

.mood-btn:hover{
    transform: scale(1.18) translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.mood-btn:active{
    transform: scale(0.95);
}