@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 149, 149);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    background-color: blanchedalmond;
    width: 650px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
}
h1{
    text-align: center;
    font-family: Montserrat;
    color: brown;
}
.input{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.input input{
    flex: 1;
    border-radius: 12px;
    padding: 10px;
    width: 20px;
    font-size: small;
    font-weight: 100;
    border: 2px solid brown;
}

.btn{
    background: #4b7bec;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background: #0f46c5;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(116, 95, 95);
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background: #fd8080;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

.delete-btn {
    background: #ff4757;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #e63946;
}

.total-value {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}
