*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, 
body{
    background-color: rgb(243, 94, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    padding: 20px;
    font-weight: 700;
    font-style:normal;
    text-transform: uppercase;
    color: rgba(48, 48, 48, 0.521);
    font-size: 70px;

}

.main{
    width:350px ;
    height: 450px;
    background-color: rgb(247, 148, 148);
    border: 2px solid black;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.ans{
    width: 330px;
    height: 50px;
    background-color:  rgb(20, 20, 20);
    margin-top:10px;
    border: 1px solid black;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items:center;
    /* flex-direction: column; */
    /* padding: 0 10px; */
}
.ans input{
    /* width: 330px;
    height: 50px; */
    background-color:  rgb(243, 94, 94);
    margin-top:10px;
    border-radius: 9px;
    font-size: 2rem;        
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 60px;
    padding: 0 10px;
    text-align: right;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;

    outline: none;
 

}
.buttons{
    width: 330px;
    height: 370px;
    background-color:  rgb(243, 94, 94);
    margin-top:12px;
    border: 1px solid black;
    border-radius: 9px;
    display: grid;   
    /* align-items: center; 
    justify-content: center; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    /* overflow: hidden; */
}
.btn{
    /* width: 61px;
    height: 61px; */
    background-color: #8282f1;
    padding: 5px;
    border-radius: 9px;
    margin:6px;
    border: 1px solid black;
    font-weight: 900;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,.9);
    cursor: pointer;
    transition: 0.15s ease;
}

.btn.key-active {
  /* background: #444;      dark tone */
  background-color: #4242da ;
  transform: scale(0.95);
}
.btn:hover{
    background-color: #4242da ;
    box-shadow: 0 2px 4px rgba(0,0,0,.7);

}
/* #plus{
    /* width: 61px;
    height: 122px; */
    /* grid-row: span 2;
} */ 
#zero{
    grid-column: span 2;
    /* background-color: black; */
    color: wheat;
    /* width: 61px;
    height: 122px; */
}
#enter{
    /* width: 61px;
    height: 122px; */
    grid-row: span 2;
    
}
