* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: rgb(235, 155, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 380px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.7);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

#addBtn {
    padding: 10px 20px;
    background: #4c61ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#addBtn:hover {
    background: #f1b23c;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #eef1ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.buttons {
    display: flex;
    gap: 8px;
}

.edit-btn, .delete-btn, .complete-btn {
    padding: 5px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.edit-btn {
    background: #ff9800; 
}
.delete-btn {
    background: red; 
}
.complete-btn { 
    background: #22bb33; 
}

.edit-btn:hover { 
    background: #e68900; 
}
.delete-btn:hover { 
    background: darkred; 
}
.complete-btn:hover { 
    background: #1a9e2a; 
}
