*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0f1f;
}

.container{
    background: rgba(255, 255, 255, 0.07);
    padding: 40px;
    width: 330px;
    border-radius: 18px;
    box-shadow: 0 0 40px rgba(0, 123, 255, 0.2);
    text-align: center;
}

h1{
    color: #bcd8ff;
    margin-bottom: 20px;
    font-size: 26px;
}

.timer{
    color: #66aaff;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #0084ff;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    padding: 10px 25px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background: #007bff;
    /* box-shadow: 0 0 15px #007bff; */
    transition: 0.2s;
}

.buttons button:hover{
    background: #005fcc;
    /* box-shadow: 0 0 20px #005fcc; */
}
