*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    background: #f1f3f5;
}

.app{
    background: rgba(255,255,255,0.7);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

select{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}
